@font-face {
    font-family: Akira;
    src: url(../style/fonts/Akira.otf);
}
@font-face {
    font-family: Lemon Regular;
    src: url(./fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: LemonL;
    src: url(./fonts/LEMONMILK-Light.otf);
}

:root{
    --cor1: #F9F7F7;
    --cor2: #DBE2EF;
    --cor3: #3F72AF;
    --cor4: #112D4E;
}

*{
    margin: 0;
    text-decoration: none;
    list-style: none;
} 

header{
    width: 100%;
    height:  15vh;
    display: flex;
    justify-content: center;
    background-color: var(--cor1);
}

.navbar{
    width: 100%;
    font-family: Akira;
    font-size: 20px;

}
.navbar-brand{
    width: 20%;
    display: flex;
    justify-content: center;

}
.navbar-nav{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

section{
    width: 100%;
    justify-content: start; 
}

#section-bg{
    width: 100%;
    height: 85vh;
    background-color: var(--cor1);
    background-image: url(./img/background1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}

.section-title{
    width: 100%;
    font-family: Lemon Regular;
    padding-top: 3rem;
    padding-left: 3rem;
    display: flex;
    justify-content: start;
    text-align: center;
}

.section-text{
    width: 30%;
    font-family: LemonL;
    font-size: 15px;
    justify-content: start;
    display: flex;
    padding-left: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 576px){
    section{
        height: 70vh;
    }
    .section-title{
        width: 100%;
        padding-top: 3rem;
        padding-right: 3rem;
        justify-content: center;
    }
    .section-text{
        width: 100%;
        justify-content: center;
        padding-right: 3rem;
        padding-bottom: 3rem;
        text-align: center;
    }
    
}
@media screen and (max-width: 768px) and (min-width: 577px){
    section{
        height: 75vh;
    }
    .section-title{
        width: 100%;
        padding-top: 3rem;
        padding-right: 3rem;
        justify-content: center;
    }
    .section-text{
        width: 80%;
        justify-content: center;
        padding-left: 7rem;
        text-align: center;
    }
}
@media screen and (max-width: 992px) and (min-width: 769px){
    section{
        height: 80vh;
    }
    .section-title{
        width: 100%;
        padding-top: 3rem;
        padding-right: 3rem;
        justify-content: center;
    }
    .section-text{
        width: 80%;
        justify-content: center;
        padding-left: 7rem;
        text-align: center;
    }   
}
#card-section{
    width: 100%;
    height: 90vh;
    background-color: var(--cor3);
}
#card-section-title{
    font-family: Lemon Regular;
    width: 100%;
    color: var(--cor2);
    display: flex;
    justify-content: center;
    padding: 3rem;
}
#card-sec{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#card-section{
    height: 100vh;
}
.card{
    height: 30%;
    background-color: var(--cor2);

}
.card-text{
    font-family: LemonL;
}
footer{
    width: 100%;
    height: 40vh;
    background-color: var(--cor4);
    color: var(--cor1);
}
#footer-h3{
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-family: Lemon Regular;
}
#footer-p{
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

